<p>form-screen works!</p>
<!-- <form [formGroup]="dataForm" (ngSubmit)="submitData()">
    <input formControlName="name" placeholder="Name" required />
    <input formControlName="email" placeholder="Email" required />
    <button type="submit">Submit</button>
</form> -->

<form  [formGroup]="dataForm" (ngSubmit)="submitData()">
    <input formControlName="name" placeholder="Name" required />
    <input formControlName="email" placeholder="Email" required />
    <button type="submit">Submit</button>


</form>